<!-- Linkler html.actionlink ile değişmeli -->
<header>
    <h1>Patient</h1>
    <nav>
        @Html.ActionLink("My Page", "Index", "Management")
        @Html.ActionLink("Create App", "Create", "Appointments")
        @Html.ActionLink("Appointments", "Index", "Appointments")
        @Html.ActionLink("Prescriptions", "Index", "Prescriptions")
        @Html.ActionLink("Bills", "Index", "Bills")
        @Html.ActionLink("My Account", "Edit", "Patients")
        @Html.ActionLink("Log off", "LogOff", "Account")
    </nav>
</header>
