@model IEnumerable<HospitalSystem.Models.Patient>

@{
    ViewBag.Title = "Patient";
}
 
 
@Html.Partial("~/Views/Admins/Header.cshtml");
 
 
<section id="hasta-yonetimi">
    <div class="container">
        <h2>Patients</h2>

        @if (Model.Count() == 0)
        {
            <p>No record!</p>
        }
        else
        {

            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">@Html.DisplayNameFor(model => model.Name)</div>
                    <div class="col col-2">@Html.DisplayNameFor(model => model.City)</div>
                    <div class="col col-3">@Html.DisplayNameFor(model => model.Email)</div>
                    <div class="col col-4">Actions</div>
                </li>
                @foreach (var item in Model)
                {
                    <li class="table-row">
                        <div class="col col-1" data-label="Job Id">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</div>
                        <div class="col col-2" data-label="Doctor Name">@Html.DisplayFor(modelItem => item.City)</div>
                        <div class="col col-3" data-label="Department">@Html.DisplayFor(modelItem => item.Email)</div>
                        <div class="col col-4" data-label="Operation">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "getDetails" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "delete" })
                        </div>
                    </li>
                }
            </ul>
        }     </div>
</section>

 
    <div id="ex1" class="modal" style="max-width:initial">
        <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
            <div class="container" style="max-width:initial">
                <div class="kisisel-bilgiler">
                    <h3>Personal Information</h3>
                    <ul>
                        <li class="patNameSurname"><span>Name Surname:</span> </li>
                        <li class="patDoB"><span>Date of Birth:</span> </li>
                        <li class="patNumber"><span>Phone Number:</span> </li>
                        <li class="patEmail"><span>E-Mail Address:</span></li>
                        <li class="patGender"><span>Gender:</span></li>
                    </ul>
                </div>
                <div class="hesap-bilgileri">
                    <h3>-</h3>
                    <ul>
                        <li class="patBlood"><span>Blood Group:</span></li>
                        <li class="patAddress"><span>Address:</span> </li>
                        <li class="patCity"><span>City:</span></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>


    <script>
     function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
    }


    $('.delete').click(function (event) {//linke click eventi kazandırma
        event.preventDefault();
        if (confirm("Do you sure delete this Patient")) {
            $.ajax({
                url: this.href,
                data: {
                    __RequestVerificationToken: gettoken()
                },
                type: 'POST',
                success: function (result) {
                    location.reload();
                }
            });
        }

    });
       //hasta tarafı
    $('.getDetails').click(function (event) {//linke click eventi kazandırma
        event.preventDefault();
        this.blur();
        $.get(this.href, function (json) {
            const patient = JSON.parse(json)
            $('li.patNameSurname').html('<span>Name Surname:</span> ' + patient.Name + " " + patient.Surname)
            $('li.patDoB').html('<span>Date of Birth:</span> ' + (new Date(patient.DOB)).toLocaleDateString())
            $('li.patNumber').html('<span>Phone Number:</span> ' + patient.Phone)
            $('li.patEmail').html('<span>Email:</span> ' + patient.Email)
            $('li.patGender').html('<span>Gender:</span> ' + ((patient.Gender) ? "Male" : "Female"))
            $('li.patBlood').html('<span>Blood Group:</span> ' + patient.Blood_Group)
            $('li.patAddress').html('<span>Address:</span> ' + patient.Address)
            $('li.patCity').html('<span>City:</span> ' + patient.City)

            $('#ex1').modal();
        });
    });

       //hasta tarafı

    </script>
