@model IEnumerable<HospitalSystem.Models.Appointment>

@{
    ViewBag.Title = "Index";
}
<!-- rollere göre header değişmeli, html.actionlink -->

@Html.Partial("~/Views/Patients/Header.cshtml");

<!-- 
    randevunun detayı görüntülenmek istendiğinde bir tane popup kutusu açılsın ve detayları oradan göstersin(fetch)
    sile tıklandığında popup açılsın ve onay istesin

    -->
<section id="randevular">

    <div class="container">
        <h2>Randevular</h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Tarih/Saat</div>
                <div class="col col-3">Doktor Adı</div>
                <div class="col col-6">Eylemler</div>
            </li>
            @foreach (var item in Model)
            {
                <li class="table-row">
                    <div class="col col-1" data-label="Date">
                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                    </div>
                    <div class="col col-3" data-label="Doctor Name">@Html.DisplayFor(modelItem => item.Doctor.Name)</div>
                    <div class="col col-6" data-label="Change Appointment Operation">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </li>
            }
        </ul>
    </div>

</section>

