@model HospitalSystem.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurAppointment.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurAppointment.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issued_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issued_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
