@model HospitalSystem.Models.Admin

@{
    ViewBag.Title = "Edit";
    string dob = Model.DOB.ToString("yyyy-MM-dd");
}

@Html.Partial("~/Views/Admins/Header.cshtml");

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="ozel-sayfa">
        <h2 style="margin-left: 13%;">Edit Account</h2>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">

            <div class="kisisel-bilgiler">
                <ul>


                    <li>
                        <span>Date of Birth:</span>     @Html.EditorFor(model => dob, new
{
htmlAttributes = new
{
@class = "form-control",
@type = "date",
@max = DateTime.Now.ToString("yyyy-MM-dd")
}
})
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </li>
                    <li>
                        <span>Mobile Number:</span>     @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </li>
                    <li>
                        <span>Accountant:</span>     @Html.CheckBoxFor(model => model.Accountant, new { @class = "form-control", @style = "width:initial" })
                        @Html.ValidationMessageFor(model => model.Accountant, "", new { @class = "text-danger" })
                    </li>
                    <li>
                        <span>E-mail Address:</span>   @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                        @ViewBag.SameEmail
                    </li>

                    <li> <button>Send</button></li>
                </ul>
            </div>
            <div class="hesap-bilgileri">

                <ul>
                    <li>
                        <span>Password:</span> <input type="password" name="password" value="" />
                        @ViewBag.PassMess
                    </li>
                    <li><span>Password Confirm:</span> <input type="password" name="passwordconfirm" value="" /></li>


                    <li>
                        <span>City:</span>
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </li>
                    <li>
                        <span>Address:</span>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @style = "width: 329px; height: 235px;" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </li>


                </ul>
            </div>


        </div>

    </section>
}