@model IEnumerable<HospitalSystem.Models.Department> 

@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Admins/Header.cshtml");

<style>
    .buttonAddDepartment {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addDepartment {
        background-color: #3586ff;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }
</style>

<section id="doktor-yonetimi">
    <div class="container">
        <h2 style="display:inline">Departments</h2>
        <ul class="responsive-table">
            @if (Model.Count() == 0)
            {
                <p> No record</p>
            }
            else
            {
                <li class="table-header">
                    <div class="col col-1">@Html.DisplayNameFor(model => model.Name)</div>
                    <div class="col col-4">Actions</div>
                </li>
                foreach (var item in Model)
                {
                    <li class="table-row">
                        <div class="col col-1" data-label="Job Id">@Html.DisplayFor(modelItem => item.Name)</div>

                        <div class="col col-4" data-label="Operation">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @if (item.ID != 1)
                            {
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "delete" });
                            }
                            else
                            {
                                @Html.Raw("Can't be deleted")
                            }
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="buttonAddDepartment">
        @Html.ActionLink("Add Department", "Create", null, new { @class = "addDepartment" })
    </div>
</section>

 


<script>
     function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
    }


    $('.delete').click(function (event) {//linke click eventi kazandırma
        event.preventDefault();
        if (confirm("Do you sure delete this department")) {
            $.ajax({
                url: this.href,
                data: {
                    __RequestVerificationToken: gettoken()
                },
                type: 'POST',
                success: function (result) {
                    location.reload();
                }
            });
        }

    });
     

</script>

