<header id="header">
    <h1>Doctors</h1>
    <nav class="ana-menu">

        @Html.ActionLink("Main Page", "Index", "Management")
        @Html.ActionLink("Appointments", "Index", "Appointments")
        @Html.ActionLink("Prescriptions", "Index", "Prescriptions")
        @Html.ActionLink("My Acoount", "Edit", "Doctors")
        @Html.ActionLink("Log off", "LogOff", "Account")
    </nav>
</header>