<header>
    <h1>Doktor Portalı</h1>
    <nav>

        @Html.ActionLink("Main Page", "Index", "Management")
        @Html.ActionLink("Appointments", "Index", "Appointments")
        @Html.ActionLink("Prescriptions", "Index", "Prescriptions")
        @Html.ActionLink("Edit", "Edit", "Doctors")
        @Html.ActionLink("Log off", "LogOff", "Account")
    </nav>
</header>