@model IEnumerable<HospitalSystem.Models.Doctor>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Admins/Header.cshtml");
=======
@if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAdmin))
{
    @Html.Partial("~/Views/Admins/Header.cshtml");
} 
else if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAccountant))
{
    @Html.Partial("~/Views/Admins/AccountantHeader.cshtml");

}

<style>
    .buttonAddDoctor {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addDoctor {
        background-color: #3586ff;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }
</style>

<section id="doktor-yonetimi">
    <div class="container">

        <h2 style="display:inline">Doctor Management</h2>@if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAdmin)) {@Html.ActionLink("Add Doctor", "Create")}

        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">@Html.DisplayNameFor(model => model.Name)</div>
                <div class="col col-2">@Html.DisplayNameFor(model => model.CurDepartment.Name)</div>
                @if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAdmin))
                {
                    <div class="col col-3">@Html.DisplayNameFor(model => model.Specializations)</div>
                }
                else
                {
                    <div class="col col-3">@Html.DisplayNameFor(model => model.Salary)</div>
                }
                <div class="col col-4">Actions</div>
            </li>
            @foreach (var item in Model)
            {
                <li class="table-row">
                    <div class="col col-1 nameSurname" data-label="Job Id">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</div>
                    <div class="col col-2" data-label="Doctor Name">@Html.DisplayFor(modelItem => item.CurDepartment.Name)</div>
                    @if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAdmin))
                    {
                        <div class="col col-3 ">@Html.DisplayFor(modelItem => item.Specializations)</div>
                    }
                    else
                    {
                        <div class="col col-3 salary">@Html.DisplayFor(modelItem => item.Salary)</div>
                    }
                    <div class="col col-4" data-label="Operation">
                        @if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAdmin))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) }
                        else
                        {
                            @Html.ActionLink("Change Salary", "EditSalary", new { id = item.ID }, new { @class = "changeSalary" })
                             }
                        @Html.Raw("| ")
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "getDetails" })
                        @if (User.IsInRole(HospitalSystem.Models.MyConstants.RoleAdmin))
                        {
                            @Html.Raw("| ")
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "delete" })
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="buttonAddDoctor">
        @Html.ActionLink("Add Doctor", "Create", null, new { @class = "addDoctor" })
    </div>
    
</section>



<div id="ex1" class="modal" style="max-width:initial">
    <section id="ozel-sayfa" style="padding:0">
        <div class="container" style="max-width:initial">
            <div class="kisisel-bilgiler">
                <h3>Personal Information</h3>
                <ul>
                    <li class="docNameSurname"><span>Name Surname:</span> </li>
                    <li class="docDoB"><span>Date of Birth:</span> </li>
                    <li class="docNumber"><span>Phone Number:</span> </li>
                    <li class="docEmail"><span>E-Mail Address:</span></li>
                    <li class="docGender"><span>Gender:</span></li>
                </ul>
            </div>
            <div class="hesap-bilgileri">
                <h3>-</h3>
                <ul>
                    <li class="docExperience"><span>Experience:</span></li>
                    <li class="docSpecializations"><span>Specializations:</span> </li>
                    <li class="docLangs"><span>Langs:</span></li>
                    <li class="docDept"><span>Department:</span></li>
                </ul>
            </div>
        </div>
    </section>
</div>


<script>
     function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
    }


    $('.changeSalary').click(function (event) {//linke click eventi kazandırma
        event.preventDefault();
        let salaryDName = $(event.target).parent().siblings(".nameSurname").text();
        let oldsalary = $(event.target).parent().siblings(".salary").text();
    
        let salary = prompt("Please enter new salary for " + salaryDName,oldsalary );
        if (salary != null && salary != "") {
            if (isNaN(salary)) {
                alert("Please enter a number");

            } else if (salary < 0) {
                alert("Salary must be greater than 0");
            } else {
                $.ajax({
                    url: this.href,
                    data: {
                        __RequestVerificationToken: gettoken(),
                        newSalary: salary
                    },
                    type: 'POST',
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        }

    });
      
    $('.getDetails').click(function (event) {//linke click eventi kazandırma
        event.preventDefault();
        this.blur();
        $.get(this.href, function (json) {
            const doctor = JSON.parse(json)
            $('li.docNameSurname').html('<span>Name Surname:</span> ' + doctor.Name + " " + doctor.Surname)
            $('li.docDoB').html('<span>Date of Birth:</span> ' + (new Date(doctor.DOB)).toLocaleDateString())
            $('li.docNumber').html('<span>Phone Number:</span> ' + doctor.Phone)
            $('li.docEmail').html('<span>Email:</span> ' + doctor.Email)
            $('li.docGender').html('<span>Gender:</span> ' + ((doctor.Gender) ? "Male" : "Female"))
            $('li.docExperience').html('<span>Experience:</span> ' + doctor.Experience)
            $('li.docSpecializations').html('<span>Specializations:</span> ' + doctor.Specializations)
            $('li.docLangs').html('<span>Languages:</span> ' + doctor.Languages)
            $.get("/Departments/getDeptName/" + doctor.CurDeptartmentID, function (department) {

                $('li.docDept').html('<span>Department:</span> ' + department)
                $('#ex1').modal();
            });
        });
    });
     

</script>

