@model HospitalSystem.Models.Patient

@{
    ViewBag.Title = "Register";
}
<header id="header">
    <img id="logo-header" src="~/Content/Images/apple-touch-icon.png" alt="Hospital Logo">
    <h1 id="head">The Great Hospital</h1>
    <nav class="ana-menu">


        <a href="/Home">Home Page</a>
        @Html.ActionLink("Log In", "Login", "Account")
        @Html.ActionLink("Register", "Register", "Management")

    </nav>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<section id="ozel-sayfa">
    <h2 style="margin-left: 13%;">Patient Register</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  
<div class="container">
 
    <div class="kisisel-bilgiler">
        <ul>
            <li>
                <span>Adı:</span>    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </li>
            <li>
                <span>Surname:</span>  @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </li>
            <li>
                <span>Date of Birth:</span>     @Html.EditorFor(model => model.DOB, new
{
htmlAttributes = new
{
@class = "form-control",
@type = "date"
}
})
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </li>
            <li>
                <span>Mobile Number:</span>     @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </li>
            <li>
                <span>E-mail Address:</span>   @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
              
                @ViewBag.SameEmail
            </li>
            <li>
                <span>Blood Group: </span>  @Html.EditorFor(model => model.Blood_Group, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Blood_Group, "", new { @class = "text-danger" })
            </li>
            <li> <button>Send</button></li>
        </ul>
    </div>
    <div class="hesap-bilgileri">

        <ul>
            <li>
                <span>Password:</span> <input type="password" name="password" value="" />
                @ViewBag.PassMess
            </li>
            <li><span>Password Confirm:</span> <input type="password" name="passwordconfirm" value="" /></li>
            <li>
                <span>Gender</span><br /><br />
                @Html.RadioButtonFor(model => model.Gender, true, new { @style = "width:initial;" })  Male
                <br />  @Html.RadioButtonFor(model => model.Gender, false, new { @style = "width:initial;" }) Female
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </li>

            <li>
                <span>City:</span>   @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </li>
            <li>
                <span>Address:</span>   @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @style = "width: 329px; height: 235px;" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </li>


        </ul>
    </div>


</div>

</section>
}

